<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Process Accelerator</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="user-scalable=no, width=device-  width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="keywords" content="Admin Template, Dashboard, Web Application, C Panel, Admin Theme">
	<meta name="description" content="Process Accelerator - Application">
	<meta name="author" content="Shweta Patki">
    <link href="@Url.Content("~/Content/pa/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/pa/base.css")" rel="stylesheet" type="text/css"/>
    @Styles.Render("~/Content/cssPA")
</head>
<body>
	<header>
    	<div class="container-fluid clearfix">
			<div class="row">
				<div id="logo" class="col-md-5">
					<a href="index.html" title="Process Admin" class="pull-left">
						<img src="~/Content/images/brand_identitiy.gif" height="50" title="PA" alt="Process Accelerator">
					</a>
				</div>
                <div id="globalOptions" class="col-md-3">		
				    <div class="btn-group">
					    <a href="index.html" title="Home" ><i class="icon-home"></i></a> | 
					    <a href="index.html" title="Help" ><i class="icon-question-sign"></i></a> | 
					    <a href="index.html" title="Contact Us" ><i class="icon-envelope"></i></a>
				    </div>
			    </div>				

                @if (@User.Identity.IsAuthenticated)
                {
                    <div  class="col-md-4 user pull-right">
                        @Html.Partial("_UserSettings")
                    </div>
                }
            </div>
        </div>
    </header>
    @if (@User.Identity.IsAuthenticated)
    {
        @Html.Action("GetMenu", "Menu", new { functionID = (ViewBag.Menu != null ? ViewBag.Menu : "") })
        <!-- Revision Comments to be shown just before the data is submitted for save -->
        <div class="modal fade" id="revCommentsDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->

        <section id="main_content" class="adjustMain_content">
            <a href="#" class="blue-bg btn btn-xs showcase-btn visible-lg pull-left hideSubMenuOption" data-direction="in" id="hideMenu"><i class="icon-">&#xf053;</i></a> 
    	    <div class="container-fluid" id="containerDetails">
                @RenderBody()
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="openDialogBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        </div><!-- /.modal -->
        
        <div id="backContents" class="hidden"></div>
    }
    else
    {
        @RenderBody()
        <div class="signin">
            <div class="signin-body">
                <h3>Log in</h3>
                @Html.Partial("_Login")
            </div>
        </div>
    }    
    
    @Scripts.Render("~/bundles/PADependencies")
    @Scripts.Render("~/bundles/editor")
    <script src="~/Scripts/pa/AngularJSCharts/angular-1.5.5/angular.min.js"></script>
    <script src="~/Scripts/pa/AngularJSCharts/AngularChosen/angular-chosen.min.js"></script>
    @Scripts.Render("~/bundles/PAScripts")
    @RenderSection("Scripts", required: false)

    <script>
        function pleaseWait(dialog, title) {
            $("#" + dialog).html('<div class="modal-dialog">' +
	                      '<div class="modal-content">' +
		                    '<div class="modal-header">' +
		                      '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
		                      '<h4 class="modal-title" id="dialogTitle">' + title + '</h4>' +
		                    '</div>' +
		                    '<div class="modal-body"> ' +
		                    '<p align="center" style="padding:20px 0px;"><img src="@Url.Content("~/Content/images/windows8-line.gif")" align="middle"></p>' +
		                    '</div>' +
		                    '<div class="modal-footer">' +
		                    '</div>' +
	                      '</div><!-- /.modal-content -->' +
	                    '</div><!-- /.modal-dialog -->')
        };

        function processing(message) {
            return '<p align="center" style="padding:20px 0px;">' + message + '<img src="@Url.Content("~/Content/images/windows8-line.gif")" align="middle"></p>'
        };
    </script>
</body>
</html>